@import "../../../index.scss";

.projects {
  min-height: 100%;
  background-color: var(--main);
  transition: 0.3s ease-in-out;
  padding: 10px 0 20px 0;
  flex: 1;
  h2 {
    text-align: center;
    color: $contrast-color;
  }
  .projectsList {
    margin-top: 20px;
    @include flexAJ(center, space-between);
    flex-wrap: wrap;
    gap: 20px;
    .projectsLink {
      overflow: hidden;
      border-radius: $perfect-border-radius;
      text-align: center;
      box-shadow: 0 0px 4px $contrast-color;

      transition: box-shadow 0.1s ease;
      &:hover {
        opacity: 0.8;
      }
      .projectsItem {
        background-color: var(--secondary);
        height: 350px;
        width: 400px;
        font-size: 1.2rem;

        .projectsImg {
          height: 300px;
          width: 100%;
        }
        .projectsText {
          position: relative;
          color: var(--main);
          font-size: 1.4rem;
          font-weight: 600;
        }
      }
    }
  }
  .moreProjects {
    margin-top: 20px;
    font-weight: 600;
    text-align: center;
    font-size: 1.4rem;
    color: var(--secondary);

    .githubLink {
      display: inline-block;

      opacity: 0;
      color: $contrast-color;

      transform: rotateX(120deg);
      transform-origin: 50% 100%;

      font-size: 1.4rem;
      font-weight: 800;

      animation: show 0.1s forwards, pop-word 1.5s forwards;
      animation-timing-function: cubic-bezier(0.14, 1.23, 0.33, 1.16);
      animation-delay: 1.5s;
    }
  }
}

@keyframes pop-word {
  to {
    transform: rotateX(0);
  }
}
@keyframes show {
  to {
    opacity: 1;
  }
}

.wrapper {
  @include containerWP(900px, 0 20px);
}

@media (max-width: 880px) {
  .projects {
    .projectsList {
      @include flexAJ(center, center);
      .projectsLink {
        .projectsItem {
          height: 300px;
          width: 300px;
          .projectsImg {
            height: 250px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .projects {
    .projectsList {
      @include flexAJ(center, center);
      .projectsLink {
        .projectsItem {
          height: 350px;
          width: 450px;
          .projectsImg {
            height: 85%;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .projects {
    .projectsList {
      .projectsLink {
        .projectsItem {
          height: 250px;
          width: 300px;
          .projectsImg {
            height: 200px;
          }
        }
      }
    }
    .moreProjects {
      font-size: 1.6rem;
    }
  }
}
@media (max-width: 320px) {
  .projects {
    .projectsList {
      .projectsLink {
        .projectsItem {
          height: 300px;
          width: 250px;
          .projectsImg {
            height: 250px;
          }
        }
      }
    }
    .moreProjects {
      font-size: 1.6rem;
    }
  }
}
