@import "../../../index.scss";

.burgerWrapper {
  .burger {
    display: none;

    position: relative;

    width: 30px;
    height: 30px;

    cursor: pointer;

    span {
      position: absolute;
      top: 50%;

      height: 3px;
      width: 100%;

      background-color: var(--secondary);
      border-radius: $perfect-border-radius;

      transition: 0.2s ease-out;
      &:first-child {
        transform: translateY(-15px);
      }
      &:last-child {
        transform: translateY(15px);
      }
    }

    &.active {
      span {
        &:first-child {
          transform: rotate(-45deg);
        }
        &:nth-child(2) {
          transform: translateY(-50px);
          pointer-events: none;
          opacity: 0;
        }
        &:last-child {
          transform: rotate(45deg);
        }
      }
    }
  }

  .sideMenu {
    position: fixed;
    top: 50px;
    right: 0;

    width: 100%;
    height: 100%;

    background-color: var(--secondary);
    transform: translateX(100%);

    transition: transform 0.5s ease;
    &.active {
      transform: translateX(0px);
    }

    .navigationList {
      @include flexAJ(center, space-around);
      height: 100vh;

      font-size: 1.2rem;
      text-align: center;
      li {
        font-weight: 700;
        a {
          padding: 5px 10px;
        }
        &:not(:last-child) {
          margin-bottom: 80px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .burgerWrapper {
    .burger {
      display: block;
    }

    .sideMenu {
      display: block;
    }
  }
}

@media (max-width: 320px) {
  .burger {
  }
  .sideMenu {
  }
}
