@import "../../../index.scss";

.burger {
  display: none;

  position: relative;

  width: 35px;
  height: 25px;

  cursor: pointer;

  span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    height: 3px;
    width: 100%;

    background-color: var(--secondary);
    border-radius: $perfect-border-radius;

    transition: 0.2s ease-out;
    &:first-child {
      top: 0%;
    }
    &:last-child {
      top: 100%;
    }
  }

  &.active {
    span {
      &:first-child,
      &:last-child {
        top: 50%;
      }
      &:first-child {
        transform: rotate(-45deg);
      }
      &:nth-child(2) {
        transform: translateY(-50px);
        pointer-events: none;
        opacity: 0;
      }
      &:last-child {
        transform: rotate(45deg);
      }
    }
  }
}

@media (max-width: 480px) {
  .burger {
    display: block;
  }
}
