@import "../../../index.scss";

.project {
  @include flexAJ(center, center);
  flex: 1;

  padding-top: 20px;

  background-color: var(--main);
  .wrapper {
    @include containerWP(800px, 0 20px);

    .projectInfo {
      margin-top: 20px;

      .projectLink {
        .projectImg {
          transition: box-shadow 0.1s ease-in-out;
          &:hover {
            box-shadow: 0 0 10px 2px var(--secondary);
          }
          @include imgSizeWH(100%, 100%);

          border-radius: $perfect-border-radius;
        }
      }
      .projectStack {
        color: var(--secondary);
        margin-top: 10px;

        font-size: 1.4rem;
        text-align: center;
      }
    }

    .projectLinks {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 10px;

      .link {
        display: block;

        width: 100px;
        height: 50px;

        padding: 5px 10px;

        color: $contrast-color;
        background-color: var(--secondary);
        border-radius: $perfect-border-radius;

        font-size: 1.4rem;
        font-weight: 800;
        text-align: center;
        cursor: pointer;

        transition: box-shadow 0.2s ease-in-out;
        &:hover {
          box-shadow: 0 0 10px 2px var(--secondary);
        }
        .logo {
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
