@import "../../../index.scss";

.project {
  @include flexAJ(center, center);
  flex: 1;

  padding-top: 20px;

  background-color: var(--main);
  .wrapper {
    @include containerWP(800px, 0 20px);

    .projectInfo {
      margin-top: 20px;

      .projectLink {
        .projectImg {
          transition: box-shadow 0.1s ease-in-out;
          &:hover {
            box-shadow: 0 0 10px 2px var(--secondary);
          }
          @include imgSizeWH(100%, 100%);

          border-radius: $perfect-border-radius;
        }
      }
      .projectStack {
        color: var(--secondary);
        margin-top: 10px;

        font-size: 1.4rem;
        text-align: center;
      }
    }

    .projectLinks {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-top: 10px;
    }
  }
}

.logo {
  @include imgSizeWH(100%, 100%);
}

html[data-theme="light"] {
  .logo {
    filter: invert(1);
  }
}
